<app-author-add-form></app-author-add-form>
    
<h1 style="display: inline;">Author</h1>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped" style="width: 100%;">
    <thead>
        <tr>
            <td style="width: 30%">First Name</td>
            <td style="width: 30%">Middle Name</td>
            <td style="width: 30%">Last Name</td>
            <td style="width: 10%"></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let author of authors">
            <td style="width: 30%">{{author.firstName}}</td>
            <td style="width: 30%">{{author.middleName}}</td>
            <td style="width: 30%">{{author.lastName}}</td>
            <td style="width: 10%">
                <div class="row">
                    <button class="col-md-5 btn btn-success m-1" (click)="update(author)" data-toggle="tooltip" data-placement="bottom" title="Update author" ><i class="material-icons">update</i></button>
                    <button class="col-md-5 btn btn-danger m-1" (click)="delete(author.id)" data-toggle="tooltip" data-placement="bottom" title="Delete author"><i class="material-icons">delete</i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>