<app-book-add-form></app-book-add-form>

<h1>Books</h1>
<table style="width: 100%;" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-striped">
    <thead>
        <tr>
            <td style="width: 40%">Titles</td>
            <td style="width: 20%">Copyright</td>
            <td style="width: 20%">Genre</td>
            <td style="width: 20%"></td>
        </tr>
    </thead>
    <tbody  *ngIf="books != null || books?.length != 0">
        <tr *ngFor="let book of books">
            <td style="width: 40%">{{book.title}}</td>
            <td style="width: 20%">{{book.copyright}}</td>
            <td style="width: 20%">{{book.genre.name}}</td>
            <td style="width: 20%">
                <div class="row">
                    <button class="col-md-5 btn btn-success m-1" (click)="update(book)" data-toggle="tooltip" data-placement="bottom" title="Update book" ><i class="material-icons">update</i></button>
                    <button class="col-md-5 btn btn-danger m-1" (click)="delete(book.id)" data-toggle="tooltip" data-placement="bottom" title="Delete book"><i class="material-icons">delete</i></button>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="!books == null || books?.length == 0">    
        <tr>    
            <td colspan="4" class="no-data-available">No data!</td>    
        </tr>    
    <tbody>  
</table>