<h1>Forgot Password</h1>
<div class="jumbotron">
    <h4>Enter username to get security question and reset your password</h4>
    <div class="form-group">
        <label for="">Input user name: </label>
        <input type="text" class="form-control" [(ngModel)]="userNameCheck" placeholder="Username">
    </div>
    
    <button class="btn btn-info" (click)="getSecurityQuestion()">Get security question</button>
</div>

<div *ngIf="question" class="panel">
    <div class="panel-heading">
        <h1>Question: {{question}}</h1>
    </div>
    <div class="panel-body">
        <form (ngSubmit)="resetPassword()" method="POST" [formGroup]="forgotPasswordForm">
            <div class="form-group">
                <label for="">Answer</label>
                <input type="text" class="form-control" formControlName="answer" [ngClass]="{ 'is-invalid': (f.answer.touched && f.answer.errors) || wrongAnswer }" required>
                <div *ngIf="f.answer.touched && f.answer.errors" class="invalid-feedback">
                    <div *ngIf="f.answer.errors.required"><span class="error-msg">This field is required</span></div>
                </div>
                <div *ngIf="wrongAnswer" class="invalid-feedback">
                    <span class="error-msg">Wrong answer!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="">New Password</label>
                <input type="password" class="form-control" formControlName="newPassword" [ngClass]="{ 'is-invalid': (f.newPassword.touched && f.newPassword.errors) || newPasswordBackendError}" required>
                <div *ngIf="f.newPassword.touched && f.newPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.newPassword.errors.required"><span class="error-msg">This field is required</span></div>
                </div>
                <div *ngIf="newPasswordBackendError" class="invalid-feedback">
                    <span *ngFor="let error of newPasswordBackendError" class="error-msg">{{error}}</span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-success" [disabled]="forgotPasswordForm.invalid || isSubmit">Reset password</button>
            </div>
        </form>
    </div>
</div>