<div class="panel">
  <div class="panel-heading">
    <h1>Login</h1>
  </div>
  <div class="panel-body">
    <form  (ngSubmit)="submit()" method="post" [formGroup]="loginForm">
      <div class="form-group row">
        <label class="col-md-3">Username</label>
        <div class="col-md-9">
          <input class="form-control" formControlName="userName" [ngClass]="{ 'is-invalid': f.userName.touched && f.userName.errors }" required placeholder="Username">
          <div *ngIf="f.userName.touched && f.userName.errors" class="invalid-feedback">
              <div *ngIf="f.userName.errors.required"><span style="color: red; font-size: 10pt">This field is required</span></div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3">Password</label>
        <div class="col-md-9">
          <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" required placeholder="Password">
          <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required"><span style="color: red; font-size: 10pt">This field is required</span></div>
          </div>
          <br>
          <div class="text-center">
              <button type="submit" class="btn btn-lg btn-success" [disabled]="loginForm.invalid || isSubmit">Login</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>